<div class="cube-face" id="cube-face-bottom" cube-face="bottom">
    <div class="title">Printer</div>
    <div class="row" id="printer">
		<div class="col offset-s1 s10">
			<div class="title">Prusa i3 MK3</div>
			<div class="row">
        		<div class="col s6 stream" stream="{{ printer.webcam }}"></div>
				<div class="col s6 details">
					<div class="row">
						<div class="col s12">
							<span class="name">Job name</span>:
							<span class="sensor" entity-id="sensor.prusa_i3_mk3_job_name">&nbsp;</span>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<span class="name">Percent complete</span>:
							<span class="sensor" entity-id="sensor.prusa_i3_mk3_job_percentage">&nbsp;</span>%
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<span class="name">Time elapsed</span>:
							<span class="sensor" entity-id="sensor.prusa_i3_mk3_time_elapsed">&nbsp;</span>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<span class="name">Time remaining</span>:
							<span class="sensor" entity-id="sensor.prusa_i3_mk3_time_remaining">&nbsp;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
