<div class="title">Controls</div>
<div class="row">
    <div class="col s4">
        <div class="row tile" style="height: 100px;">
            <div class="col s6 valign-wrapper control" entity-id="light.living_room">
                <i class="material-icons">lightbulb_outline</i>
                Living Room
            </div>
            <div class="col s6" style="height: 100%;">
                <div class="row" style="height: 50%;">
                    <div class="col s12 valign-wrapper control" entity-id="light.light_3052">
                        <i class="material-icons">lightbulb_outline</i>
                        Endtable lamp
                    </div>
                </div>
                <div class="row" style="height: 50%;">
                    <div class="col s12 valign-wrapper control" entity-id="light.light_3053">
                        <i class="material-icons">lightbulb_outline</i>
                        Floor lamp
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="row tile" style="height: 100px;">
            <div class="col s6 valign-wrapper control" entity-id="light.entryway">
                <i class="material-icons">lightbulb_outline</i>
                Entryway
            </div>
            <div class="col s6" style="height: 100%;">
                <div class="row" style="height: 50%;">
                    <div class="col s12 valign-wrapper control" entity-id="light.light_3052x">
                        <i class="material-icons">lightbulb_outline</i>
                        Hall
                    </div>
                </div>
                <div class="row" style="height: 50%;">
                    <div class="col s12 valign-wrapper control" entity-id="light.light_3053x">
                        <i class="material-icons">lightbulb_outline</i>
                        Closet
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
