<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}C3{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="stylesheet" type="text/css" href="/assets/css/materialize-0.100.2.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/icons.css" />
        <link rel="stylesheet" type="text/css" href="/css/animations.css" />
        <link rel="stylesheet" type="text/css" href="/css/floorplan.css" />
        <link rel="stylesheet" type="text/css" href="/css/tiles.css" />
        <link rel="stylesheet" type="text/css" href="/css/sensors.css" />
        <link rel="stylesheet" type="text/css" href="/css/notices.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />

        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <div id="connection-status" dweetimation="snow-cube">
            <div class="status">Connecting</div>
        </div>

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery.mobile-1.4.5.min.js"></script>
        <script src="/assets/js/jquerymobile-swipeupdown.js"></script>
        <script src="/assets/js/moment-2.20.1.min.js"></script>
        <script src="/assets/js/materialize-0.100.2.min.js"></script>
        <script src="/assets/js/skycons.js"></script>
        <script src="/js/credentials.js"></script>
        <script src="/js/hass.js"></script>
        <script src="/js/floorplan.js"></script>
        <script src="/js/controls.js"></script>
        <script src="/js/sensors.js"></script>
        <script src="/js/traffic.js"></script>
        <script src="/js/notices.js"></script>
        <script src="/js/cameras.js"></script>
        <script src="/js/dweetimations.js"></script>
        <script src="/js/base.js"></script>

        {% block js %}{% endblock %}
    </body>
</html>
