{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/cube.css" />    
{% endblock %}

{% block body %}
<div id="cube" class="pt-perspective">
    {% for face, template in faces.items() %}
        <div class="cube-face {{ template }}" id="cube-face-{{ face }}" cube-face="{{ face }}">
            {% include 'cube/' + template + '.html' %}
        </div>
    {% endfor %}
</div>
{% include 'cube-map.html' %}
{% endblock %}

{% block js %}
    <script src="/js/cube.js"></script>
{% endblock %}
