#cube{
    padding-top: 10px;
}

#cube-map{
    font-size: 16px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99999;
}

.cube-face{
    position: absolute;
    top: 0;
    left: 0;

    /*display: none;*/

    width: 100%;
    height: 100%;

    color: #FFF;
    background-color: #000;
}

.cube-face:not(:first-child){
    padding-left: 55px;
}

.cube-face>.row{
	margin: 0;
}

.cube-face>.title{
    position: fixed;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: translateY(100%) rotate(-90deg);

    font-size: 40px;
    margin: 0;
    padding-left: 65px;
}

.cube-map-face{
    display: inline-block;
    width: 15px;
    height: 15px;

    color: #666;
    border: 1px solid #666;
    background-color: #000;
    font-size: 12px;
    text-align: center;
}

.cube-map-face.active{
    color: #FFF;
    border: 1px solid #FFF;
}

.cube-map-face:hover{
    cursor: pointer;
    color: #FFF;
}

.cube-map-face[cube-face-show=up], .cube-map-face[cube-face-show=down]{
    margin-left: 19px;
}

.cube-face-front .bottom{
	padding-bottom: 25px;
}
