html{
    overflow: hidden;
/*touch-action: none;*/
}

body.touch{
    cursor: none;
}

@media (min-width: 800px){
    html{ font-size: 6pt; }
}

@media (min-width: 1280px){
    html{ font-size: 8pt; }
}

@media (min-width: 1440px){
    html{ font-size: 10pt; }
}

@media (min-width: 2000px){
    html{ font-size: 16pt; }
}

body{
    font-family: Roboto, sans-serif !important;
    font-size: 1.875em;

    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    text-shadow: none !important;
}

.ui-page{
	width: 100%;
	height: 100%;
	background-color: #111 !important;
    overflow: hidden;
}

.ui-body-inherit{
    border: 0 !important;
    background-color: inherit !important;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

.row{
    margin-bottom: 10px;
}

.chip{
    background-color: #333333;
    color: #999999;
}

.title{
    font-size: 1em;
    color: #666666;
    text-align: left;
    border-bottom: 1px #666666 solid;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.title.right{
    text-align: right;
}

#connection-status{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

#connection-status .status{
    font-size: 2em;
    color: #fff;
    margin: auto;
    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

#connection-status .status:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 1800ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

#reload{
    position: fixed;
    top: 10px;
    left: 0;
    width: 55px;
    text-align: center;
    z-index: 99999;
}

#reload>a{
    color: #666666;
}

[hass-log]{
    padding: 10px;
    height: 100%;
    font-size: 1em;
    font-family: "Courier New", monospace;
    overflow: hidden;
}

[hass-log]>p{
    margin: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes ellipsis {
    to {
        width: 1em; 
    }
}

#traffic .camera .last-updated{
    margin-right: 3vw;
}

.security .camera .last-updated{
    display: none;
}
