<div id="cube-map">
    <div class="cube-map-face" cube-face-show="top">t</div>
    <br/>
    <div class="cube-map-face" cube-face-show="left">l</div>
    <div class="cube-map-face" cube-face-show="front">f</div>
    <div class="cube-map-face" cube-face-show="right">r</div>
    <div class="cube-map-face" cube-face-show="back">b</div>
    <br/>
    <div class="cube-map-face" cube-face-show="bottom">b</div>
</div>
