<div class="row">
    <div class="col s4">

    </div>
    <div id="floorplan" class="col s4">
{{ source('floorplan/loft.svg') }}
{{ source('floorplan/upstairs.svg') }}
{{ source('floorplan/downstairs.svg') }}
    </div>
    <div class="col s4">

    </div>
</div>
