<div class="cube-face" id="cube-face-back" cube-face="back">
    back<br/>
    <br/>
    <div hass-log></div>
    <div id="reload" style="position: absolute; bottom: 5px; left: 5px;">
        <a href="javascript:location.reload(true);">reload</a>
    </div>
</div>

